@using Microsoft.AspNetCore.Components.Authorization
@using AccountingSystem.Client.Shared
@using MudBlazor

<MudDialogProvider />
<MudSnackbarProvider />

<CascadingAuthenticationState>
    <MudPopoverProvider />

    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <LayoutView Layout="@typeof(MainLayout)">
                            <div class="alert alert-danger m-4">
                                <h4>Access Denied</h4>
                                <p>You are logged in, but you do not have permission to access this page.</p>
                            </div>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" class="p-4">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>